body,
html {
  height: 100%;
}

body {
  padding-top: 50px;

}

a{
    color:#fff !important;
  }

  a:hover{
    color:#158cba !important;
  }

label > a{
    color: black !important;
}
